{% extends "data_visualization/base.html" %}
{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block title %}
	<title>Charts - Area Chart Line Boundaries</title>
{% endblock title %}

{% block style %}
    <style>
    .chart-samples ul { list-style: none; }

    .chart-samples h4 {
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: 400;
    }

    .chart-samples li {
        font-size: 16px;
        line-height: 2.2;
        font-weight: 600;
    }

    .chart-samples li a:not(:hover) { color: #AAA; }
    </style>
{% endblock style %}

{% block section %}
		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>Charts</h1>
				<span>Area Chart Line Boundaries</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Shortcodes</a></li>
					<li class="breadcrumb-item active" aria-current="page">Charts</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap" style="padding-bottom: 30px;">
				<div class="container clearfix">

					<!-- Charts Area
					============================================= -->
					<div class="row clearfix">

						<div class="col-lg-6 bottommargin" style="min-height: 250px;"><canvas id="chart-0"></canvas></div>
						<div class="col-lg-6 bottommargin" style="min-height: 250px;"><canvas id="chart-1"></canvas></div>
						<div class="col-lg-6 bottommargin" style="min-height: 250px;"><canvas id="chart-2"></canvas></div>
						<div class="col-lg-6 bottommargin" style="min-height: 250px;"><canvas id="chart-3"></canvas></div>

					</div>

					<div class="toolbar center">
						<button class="btn btn-secondary btn-sm" onclick="toggleSmooth(this)">Smooth</button>
						<button class="btn btn-secondary btn-sm" onclick="randomize(this)">Randomize</button>
					</div>
					<!-- Charts Area End -->

					<div class="line"></div>

					<div class="row grid-container chart-samples clearfix" data-layout="fitRows">

						<div class="col-lg-3 bottommargin-sm">
							<h4>Bar Charts</h4>
							<ul>
								<li><a href='{% static "charts-bar-vertical.html" %}'>Vertical</a></li>
								<li><a href='{% static "charts-bar-horizontal.html" %}'>Horizontal</a></li>
								<li><a href='{% static "charts-bar-multi-axis.html" %}'>Multi axis</a></li>
								<li><a href='{% static "charts-bar-stacked.html" %}'>Stacked</a></li>
								<li><a href='{% static "charts-bar-stacked-group.html" %}'>Stacked groups</a></li>
							</ul>
						</div>

						<div class="col-lg-3 bottommargin-sm">
							<h4>Line Charts</h4>
							<ul>
								<li><a href='{% static "charts-line-basic.html" %}'>Basic</a></li>
								<li><a href='{% static "charts-line-multi-axis.html" %}'>Multi axis</a></li>
								<li><a href='{% static "charts-line-stepped.html" %}'>Stepped</a></li>
								<li><a href='{% static "charts-line-interpolation-modes.html" %}'>Interpolation</a></li>
								<li><a href='{% static "charts-line-line-styles.html" %}'>Line styles</a></li>
								<li><a href='{% static "charts-line-point-styles.html" %}'>Point styles</a></li>
								<li><a href='{% static "charts-line-point-sizes.html" %}'>Point sizes</a></li>
							</ul>
						</div>

						<div class="col-lg-3 bottommargin-sm">
							<h4>Area Charts</h4>
							<ul>
								<li><a href='{% static "charts-area-line-boundaries.html" %}'>Boundaries (line)</a></li>
								<li><a href='{% static "charts-area-line-datasets.html" %}'>Datasets (line)</a></li>
								<li><a href='{% static "charts-area-line-stacked.html" %}'>Stacked (line)</a></li>
								<li><a href='{% static "charts-area-radar.html" %}'>Radar</a></li>
							</ul>
						</div>

						<div class="col-lg-3 bottommargin-sm">
							<h4>Other Charts</h4>
							<ul>
								<li><a href='{% static "charts-scatter-basic.html" %}'>Scatter</a></li>
								<li><a href='{% static "charts-scatter-multi-axis.html" %}'>Scatter - Multi axis</a></li>
								<li><a href='{% static "charts-doughnut.html" %}'>Doughnut</a></li>
								<li><a href='{% static "charts-pie.html" %}'>Pie</a></li>
								<li><a href='{% static "charts-polar-area.html" %}'>Polar area</a></li>
								<li><a href='{% static "charts-radar.html" %}'>Radar</a></li>
								<li><a href='{% static "charts-combo-bar-line.html" %}'>Combo bar/line</a></li>
							</ul>
						</div>

						<div class="col-lg-3 bottommargin-sm">
							<h4>Linear Scale</h4>
							<ul>
								<li><a href='{% static "charts-scales-linear-step-size.html" %}'>Step size</a></li>
								<li><a href='{% static "charts-scales-linear-min-max.html" %}'>Min &amp; max</a></li>
								<li><a href='{% static "charts-scales-linear-min-max-suggested.html" %}'>Min &amp; max (suggested)</a></li>
							</ul>
						</div>

						<div class="col-lg-3 bottommargin-sm">
							<h4>Logarithmic Scale</h4>
							<ul>
								<li><a href='{% static "charts-scales-logarithmic-line.html" %}'>Line</a></li>
								<li><a href='{% static "charts-scales-logarithmic-scatter.html" %}'>Scatter</a></li>
							</ul>
						</div>

						<div class="col-lg-3 bottommargin-sm">
							<h4>Time Scale</h4>
							<ul>
								<li><a href='{% static "charts-scales-time-line.html" %}'>Line</a></li>
								<li><a href='{% static "charts-scales-time-line-point-data.html" %}'>Line (point data)</a></li>
								<li><a href='{% static "charts-scales-time-combo.html" %}'>Combo</a></li>
							</ul>
						</div>

						<div class="col-lg-3 bottommargin-sm">
							<h4>Scale Options</h4>
							<ul>
								<li><a href='{% static "charts-scales-gridlines-display.html" %}'>Grid lines display</a></li>
								<li><a href='{% static "charts-scales-gridlines-style.html" %}'>Grid lines style</a></li>
								<li><a href='{% static "charts-scales-multiline-labels.html" %}'>Multiline labels</a></li>
								<li><a href='{% static "charts-scales-filtering-labels.html" %}'>Filtering Labels</a></li>
								<li><a href='{% static "charts-scales-non-numeric-y.html" %}'>Non numeric Y Axis</a></li>
							</ul>
						</div>

						<div class="col-lg-3 bottommargin-sm">
							<h4>Legend</h4>
							<ul>
								<li><a href='{% static "charts-legend-positioning.html" %}'>Positioning</a></li>
								<li><a href='{% static "charts-legend-point-style.html" %}'>Point style</a></li>
							</ul>
						</div>

						<div class="col-lg-3 bottommargin-sm">
							<h4>Tooltip</h4>
							<ul>
								<li><a href='{% static "charts-tooltips-positioning.html" %}'>Positioning</a></li>
								<li><a href='{% static "charts-tooltips-interactions.html" %}'>Interactions</a></li>
								<li><a href='{% static "charts-tooltips-callbacks.html" %}'>Callbacks</a></li>
								<li><a href='{% static "charts-tooltips-border.html" %}'>Border</a></li>
								<li><a href='{% static "charts-tooltips-custom-line.html" %}'>HTML tooltips (line)</a></li>
								<li><a href='{% static "charts-tooltips-custom-pie.html" %}'>HTML tooltips (pie)</a></li>
								<li><a href='{% static "charts-tooltips-custom-points.html" %}'>HTML tooltips (points)</a></li>
							</ul>
						</div>

						<div class="col-lg-3 bottommargin-sm">
							<h4>Advanced</h4>
							<ul>
								<li><a href='{% static "charts-advanced-progress-bar.html" %}'>Progress bar</a></li>
								<li><a href='{% static "charts-advanced-data-labelling.html" %}'>Data labelling (plugin)</a></li>
							</ul>
						</div>

					</div>

				</div>
			</div>
		</section><!-- #content end -->
{% endblock section %}

{% block javascripts %}
{% endblock javascripts %}

{% block scripts %}
                	<!-- Charts JS
	============================================= -->
	<script src='{% static "js/chart.js" %}'></script>
	<script src='{% static "js/chart-utils.js" %}'></script>

	<script>

		var presets = window.chartColors;
		var utils = Samples.utils;
		var inputs = {
			min: -100,
			max: 100,
			count: 8,
			decimals: 2,
			continuity: 1
		};

		function generateData(config) {
			return utils.numbers(utils.merge(inputs, config || {}));
		}

		function generateLabels(config) {
			return utils.months(utils.merge({
				count: inputs.count,
				section: 3
			}, config || {}));
		}

		var options = {
			maintainAspectRatio: false,
			spanGaps: false,
			elements: {
				line: {
					tension: 0.000001
				}
			},
			plugins: {
				filler: {
					propagate: false
				}
			},
			scales: {
				xAxes: [{
					ticks: {
						autoSkip: false,
						maxRotation: 0
					}
				}]
			}
		};

		[false, 'origin', 'start', 'end'].forEach(function(boundary, index) {

			// reset the random seed to generate the same data for all charts
			utils.srand(8);

			new Chart('chart-' + index, {
				type: 'line',
				data: {
					labels: generateLabels(),
					datasets: [{
						backgroundColor: utils.transparentize(presets.green),
						borderColor: presets.green,
						data: generateData(),
						label: 'Dataset',
						fill: boundary
					}]
				},
				options: utils.merge(options, {
					title: {
						text: 'fill: ' + boundary,
						display: true
					}
				})
			});
		});


		function toggleSmooth(btn) {
			var value = btn.classList.toggle('btn-on');
			Chart.helpers.each(Chart.instances, function(chart) {
				chart.options.elements.line.tension = value? 0.4 : 0.000001;
				chart.update();
			});
		}

		function randomize() {
			var seed = utils.rand();
			Chart.helpers.each(Chart.instances, function(chart) {
				utils.srand(seed);

				chart.data.datasets.forEach(function(dataset) {
					dataset.data = generateData();
				});

				chart.update();
			});
		}

	</script>
{% endblock scripts %}