{% extends "data_visualization/base.html" %}
{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block title %}
	<title>Charts - Bar Chart Horizontal</title>
{% endblock title %}

{% block style %}
    <style>
    .chart-samples ul { list-style: none; }

    .chart-samples h4 {
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: 400;
    }

    .chart-samples li {
        font-size: 16px;
        line-height: 2.2;
        font-weight: 600;
    }

    .chart-samples li a:not(:hover) { color: #AAA; }
    </style>
{% endblock style %}

{% block section %}
		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>Charts</h1>
				<span>Bar Chart Horizontal</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Shortcodes</a></li>
					<li class="breadcrumb-item active" aria-current="page">Charts</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap" style="padding-bottom: 30px;">
				<div class="container clearfix">

					<!-- Charts Area
					============================================= -->
					<div class="bottommargin mx-auto" style="max-width: 750px; min-height: 350px;">
						<canvas id="chart-0"></canvas>
					</div>

					<div class="toolbar center">
						<button class="btn btn-secondary btn-sm" id="randomizeData">Randomize Data</button>
						<button class="btn btn-secondary btn-sm" id="addDataset">Add Dataset</button>
						<button class="btn btn-secondary btn-sm" id="removeDataset">Remove Dataset</button>
						<button class="btn btn-secondary btn-sm" id="addData">Add Data</button>
						<button class="btn btn-secondary btn-sm" id="removeData">Remove Data</button>
					</div>
					<!-- Charts Area End -->

					<div class="line"></div>

					<div class="row grid-container chart-samples clearfix" data-layout="fitRows">

						<div class="col-lg-3 bottommargin-sm">
							<h4>Bar Charts</h4>
							<ul>
								<li><a href='{% static "charts-bar-vertical.html" %}'>Vertical</a></li>
								<li><a href='{% static "charts-bar-horizontal.html" %}'>Horizontal</a></li>
								<li><a href='{% static "charts-bar-multi-axis.html" %}'>Multi axis</a></li>
								<li><a href='{% static "charts-bar-stacked.html" %}'>Stacked</a></li>
								<li><a href='{% static "charts-bar-stacked-group.html" %}'>Stacked groups</a></li>
							</ul>
						</div>

						<div class="col-lg-3 bottommargin-sm">
							<h4>Line Charts</h4>
							<ul>
								<li><a href='{% static "charts-line-basic.html" %}'>Basic</a></li>
								<li><a href='{% static "charts-line-multi-axis.html" %}'>Multi axis</a></li>
								<li><a href='{% static "charts-line-stepped.html" %}'>Stepped</a></li>
								<li><a href='{% static "charts-line-interpolation-modes.html" %}'>Interpolation</a></li>
								<li><a href='{% static "charts-line-line-styles.html" %}'>Line styles</a></li>
								<li><a href='{% static "charts-line-point-styles.html" %}'>Point styles</a></li>
								<li><a href='{% static "charts-line-point-sizes.html" %}'>Point sizes</a></li>
							</ul>
						</div>

						<div class="col-lg-3 bottommargin-sm">
							<h4>Area Charts</h4>
							<ul>
								<li><a href='{% static "charts-area-line-boundaries.html" %}'>Boundaries (line)</a></li>
								<li><a href='{% static "charts-area-line-datasets.html" %}'>Datasets (line)</a></li>
								<li><a href='{% static "charts-area-line-stacked.html" %}'>Stacked (line)</a></li>
								<li><a href='{% static "charts-area-radar.html" %}'>Radar</a></li>
							</ul>
						</div>

						<div class="col-lg-3 bottommargin-sm">
							<h4>Other Charts</h4>
							<ul>
								<li><a href='{% static "charts-scatter-basic.html" %}'>Scatter</a></li>
								<li><a href='{% static "charts-scatter-multi-axis.html" %}'>Scatter - Multi axis</a></li>
								<li><a href='{% static "charts-doughnut.html" %}'>Doughnut</a></li>
								<li><a href='{% static "charts-pie.html" %}'>Pie</a></li>
								<li><a href='{% static "charts-polar-area.html" %}'>Polar area</a></li>
								<li><a href='{% static "charts-radar.html" %}'>Radar</a></li>
								<li><a href='{% static "charts-combo-bar-line.html" %}'>Combo bar/line</a></li>
							</ul>
						</div>

						<div class="col-lg-3 bottommargin-sm">
							<h4>Linear Scale</h4>
							<ul>
								<li><a href='{% static "charts-scales-linear-step-size.html" %}'>Step size</a></li>
								<li><a href='{% static "charts-scales-linear-min-max.html" %}'>Min &amp; max</a></li>
								<li><a href='{% static "charts-scales-linear-min-max-suggested.html" %}'>Min &amp; max (suggested)</a></li>
							</ul>
						</div>

						<div class="col-lg-3 bottommargin-sm">
							<h4>Logarithmic Scale</h4>
							<ul>
								<li><a href='{% static "charts-scales-logarithmic-line.html" %}'>Line</a></li>
								<li><a href='{% static "charts-scales-logarithmic-scatter.html" %}'>Scatter</a></li>
							</ul>
						</div>

						<div class="col-lg-3 bottommargin-sm">
							<h4>Time Scale</h4>
							<ul>
								<li><a href='{% static "charts-scales-time-line.html" %}'>Line</a></li>
								<li><a href='{% static "charts-scales-time-line-point-data.html" %}'>Line (point data)</a></li>
								<li><a href='{% static "charts-scales-time-combo.html" %}'>Combo</a></li>
							</ul>
						</div>

						<div class="col-lg-3 bottommargin-sm">
							<h4>Scale Options</h4>
							<ul>
								<li><a href='{% static "charts-scales-gridlines-display.html" %}'>Grid lines display</a></li>
								<li><a href='{% static "charts-scales-gridlines-style.html" %}'>Grid lines style</a></li>
								<li><a href='{% static "charts-scales-multiline-labels.html" %}'>Multiline labels</a></li>
								<li><a href='{% static "charts-scales-filtering-labels.html" %}'>Filtering Labels</a></li>
								<li><a href='{% static "charts-scales-non-numeric-y.html" %}'>Non numeric Y Axis</a></li>
							</ul>
						</div>

						<div class="col-lg-3 bottommargin-sm">
							<h4>Legend</h4>
							<ul>
								<li><a href='{% static "charts-legend-positioning.html" %}'>Positioning</a></li>
								<li><a href='{% static "charts-legend-point-style.html" %}'>Point style</a></li>
							</ul>
						</div>

						<div class="col-lg-3 bottommargin-sm">
							<h4>Tooltip</h4>
							<ul>
								<li><a href='{% static "charts-tooltips-positioning.html" %}'>Positioning</a></li>
								<li><a href='{% static "charts-tooltips-interactions.html" %}'>Interactions</a></li>
								<li><a href='{% static "charts-tooltips-callbacks.html" %}'>Callbacks</a></li>
								<li><a href='{% static "charts-tooltips-border.html" %}'>Border</a></li>
								<li><a href='{% static "charts-tooltips-custom-line.html" %}'>HTML tooltips (line)</a></li>
								<li><a href='{% static "charts-tooltips-custom-pie.html" %}'>HTML tooltips (pie)</a></li>
								<li><a href='{% static "charts-tooltips-custom-points.html" %}'>HTML tooltips (points)</a></li>
							</ul>
						</div>

						<div class="col-lg-3 bottommargin-sm">
							<h4>Advanced</h4>
							<ul>
								<li><a href='{% static "charts-advanced-progress-bar.html" %}'>Progress bar</a></li>
								<li><a href='{% static "charts-advanced-data-labelling.html" %}'>Data labelling (plugin)</a></li>
							</ul>
						</div>

					</div>

				</div>
			</div>
		</section><!-- #content end -->
{% endblock section %}

{% block javascripts %}
{% endblock javascripts %}

{% block scripts %}
	<!-- Charts JS
	============================================= -->
	<script src='{% static "js/chart.js" %}'></script>
	<script src='{% static "js/chart-utils.js" %}'></script>

	<script>

		var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
		var color = Chart.helpers.color;
		var horizontalBarChartData = {
			labels: ["January", "February", "March", "April", "May", "June", "July"],
			datasets: [{
				label: 'Dataset 1',
				backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
				borderColor: window.chartColors.red,
				borderWidth: 1,
				data: [
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor()
				]
			}, {
				label: 'Dataset 2',
				backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
				borderColor: window.chartColors.blue,
				data: [
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor()
				]
			}]

		};

		window.onload = function() {
			var ctx = document.getElementById("chart-0").getContext("2d");
			window.myHorizontalBar = new Chart(ctx, {
				type: 'horizontalBar',
				data: horizontalBarChartData,
				options: {
					// Elements options apply to all of the options unless overridden in a dataset
					// In this case, we are setting the border of each horizontal bar to be 2px wide
					elements: {
						rectangle: {
							borderWidth: 2,
						}
					},
					responsive: true,
					legend: {
						position: 'right',
					},
					title: {
						display: true,
						text: 'Horizontal Bar Chart'
					}
				}
			});

		};

		document.getElementById('randomizeData').addEventListener('click', function() {
			var zero = Math.random() < 0.2 ? true : false;
			horizontalBarChartData.datasets.forEach(function(dataset) {
				dataset.data = dataset.data.map(function() {
					return zero ? 0.0 : randomScalingFactor();
				});

			});
			window.myHorizontalBar.update();
		});

		var colorNames = Object.keys(window.chartColors);

		document.getElementById('addDataset').addEventListener('click', function() {
			var colorName = colorNames[horizontalBarChartData.datasets.length % colorNames.length];;
			var dsColor = window.chartColors[colorName];
			var newDataset = {
				label: 'Dataset ' + horizontalBarChartData.datasets.length,
				backgroundColor: color(dsColor).alpha(0.5).rgbString(),
				borderColor: dsColor,
				data: []
			};

			for (var index = 0; index < horizontalBarChartData.labels.length; ++index) {
				newDataset.data.push(randomScalingFactor());
			}

			horizontalBarChartData.datasets.push(newDataset);
			window.myHorizontalBar.update();
		});

		document.getElementById('addData').addEventListener('click', function() {
			if (horizontalBarChartData.datasets.length > 0) {
				var month = MONTHS[horizontalBarChartData.labels.length % MONTHS.length];
				horizontalBarChartData.labels.push(month);

				for (var index = 0; index < horizontalBarChartData.datasets.length; ++index) {
					horizontalBarChartData.datasets[index].data.push(randomScalingFactor());
				}

				window.myHorizontalBar.update();
			}
		});

		document.getElementById('removeDataset').addEventListener('click', function() {
			horizontalBarChartData.datasets.splice(0, 1);
			window.myHorizontalBar.update();
		});

		document.getElementById('removeData').addEventListener('click', function() {
			horizontalBarChartData.labels.splice(-1, 1); // remove the label first

			horizontalBarChartData.datasets.forEach(function (dataset, datasetIndex) {
				dataset.data.pop();
			});

			window.myHorizontalBar.update();
		});

	</script>
{% endblock scripts %}